button{
    background-color:rgb(7, 7, 123);
    color:white;
    padding: 20px 50px;
    margin-top:20px;
    margin-bottom:20px;
}
button:hover{
    background-color:black;
    color:red;
    text-shadow: 2px 2px 5px black;
    font-size:20px;
    padding: 50px 100px;
    border-radius: 20px;
}
a{
    background-color:black;
    color:white;
    text-decoration:none;
}
h1{
    text-transform:uppercase;
    text-shadow: 2px 2px 5px black;
    text-decoration:underline;
}
p{
    font-size:20px;
}
#p1{
    font-size:20px;
    background-color:rgb(207, 116, 202);
    color:rgb(6, 34, 6);
    border: solid 2px rgb(242, 237, 237);
}
.images{
    display :flex;
}
.container{
    display:flex;
    justify-content:center;
}
.logo img{
    display:flex;
    width:200px;
}
.links{
    display:flex;
    gap: 20px;
}
header{
    justify-content:space-between;
    display:flex;
}